<section class="container">
  <button (click)="viewProfile()" class="button">Back to Profile</button>

      <div class="profile-grid my-1">
       <!-- Top -->
      <div class="profile-top bg-info p-2">
        <img
          class="round-img my-1"
          src="../../assets/images/hdfc_bank_diners_clubmiles_credit_card.png"
          alt=""
        />
        <h1 class="large">HDFC Bank Diners ClubMiles Card
        </h1>
        <p class="lead">Lounge Access
        </p>
        <p>The Diners ClubMiles Credit Card by HDFC Bank is among the most premium products offered by the bank. This credit card comes with some of the best-in-class features and benefits in the category of travel. Even though it is a travel credit card, the Diners ClubMiles card also offers a wide range of benefits in the dining category as well. This credit card comes with an annual fee of Rs.1,000 and an interest rate of 3.49%.</p>
        
      </div>

      <!-- About -->
      <div class="profile-about bg-light p-2">
        <h2 class="text-primary">Lifestyle privileges:
        </h2>
        <p>You can enjoy a discount of 15% and other benefits at some of the finest restaurants in your city.
        </p>Get assistance for your travel needs by booking a concierge, which is available 24/7.

        <p>
        </p>
        <div class="line"></div>
        <h2 class="text-primary">offers</h2>
        <div class="skills">
        
          <div class="p-1"> Balance Transfer,</div>
          <div class="p-1">Travel Benefits,</div>
          <div class="p-1"> Reward points programme,
          </div>
          <div class="p-1"> Lifestyle privileges.
          </div>
         
        </div>
      </div>
      
               
          <div class="container">
            <h2>Welcome Gift
            </h2>
            <ul class="list-group">
              <li class="list-group-item">Welcome e- Gift Voucher worth Rs. 5,000
              </li>
              <li class="list-group-item">Choose from an array of travel and lifestyle brands : Yatra, Hush Puppies/Bata, Pantaloons, Aditya Birla Fashion and Shoppers Stop
              </li>
              <li class="list-group-item">For Yatra and Shopper Stop you can redeem the code online at the time of purchase</li>
            </ul>
          </div> 
     

   
     
      
        
          <div class="container">
            <h2>Documents

            </h2>
            <ul class="list-group">
              <li class="list-group-item">KYC-PAN, address proof & ID proof

              </li>
              <li class="list-group-item">One photograph, salary slip/Form 16

              </li>
              <li class="list-group-item">This offer is available only if all necessary documents are uploaded online</li>
            </ul>
          </div> 
          <div class="container">
            <h2>Fees and Charges</h2>
            <div class="list-group">
              <a  class="list-group-item active">
                <h4 class="list-group-item-heading">Joining fee	</h4>
                <p class="list-group-item-text">Rs.1,000
                </p>
              </a>
            
              <a  class="list-group-item">
                <h4 class="list-group-item-heading">Interest rate	</h4>
                <p class="list-group-item-text">3.49% per month
                </p>
              </a>
              <a  class="list-group-item">
                <h4 class="list-group-item-heading">Cash withdrawal fee		</h4>
                <p class="list-group-item-text">2.5% of the withdrawn amount or Rs.500

                </p>
              </a>
              <a  class="list-group-item">
                <h4 class="list-group-item-heading">Over limit charges		</h4>
                <p class="list-group-item-text">2.5% of the over-limit amount (minimum Rs.500)

                </p>
              </a>
            </div>
          </div>
          <div class="container">
            <h2>Eligibility Criteria
            </h2>
            <P>The HDFC Diners ClubMiles Card is offered by the bank to both salaried and self-employed individuals</P>
            <div class="list-group">
              <a  class="list-group-item active">
                <h4 class="list-group-item-heading">For salaried individuals

                </h4>
                <p class="list-group-item-text">The applicant must be aged between 21 and 60 years

                </p>
              </a>
            
              <a  class="list-group-item">
                <h4 class="list-group-item-heading">For self-employed individuals

                </h4>
                <p class="list-group-item-text">The applicant must be aged between 21 and 65 years.

                </p>
              </a>
            
             
            </div>
          </div>
          <div class="repo bg-white p-1 my-1">
            <div>
              <h4><a href="#" target="_blank"
                  rel="noopener noreferrer">What you'll love

  
                </a></h4>
              <p>
                
                4 reward points for every  150 spent

              </p>
              <p>Up to 6 free lounge access at 700+ lounges in India and abroad    </p>
            </div>
          <p>Best-in-class miles exchange program. 1 reward point = 1 airmile.</p>
          <P>Redeem reward points for miles with leading airlines and hotels</P>
          </div>
     
    
  
    </div>