/* You can add global styles to this file, and also import other style files */
body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  /*background: linear-gradient(to right, #eb93c9, #1565c0);*/

}